@font-face {
	font-family: 'Tamil MN';
	src: url('font/TamilMN.eot');
	src: url('font/TamilMN.eot?#iefix') format('embedded-opentype'),
		url('font/TamilMN.woff') format('woff'),
		url('font/TamilMN.ttf') format('truetype'),
		url('font/TamilMN.svg#TamilMN') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'San Francisco Display';
	src: url('font/SanFranciscoDisplay-Ultralight.eot');
	src: url('font/SanFranciscoDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
		url('font/SanFranciscoDisplay-Ultralight.woff') format('woff'),
		url('font/SanFranciscoDisplay-Ultralight.ttf') format('truetype'),
		url('font/SanFranciscoDisplay-Ultralight.svg#font/SanFranciscoDisplay-Ultralight') format('svg');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'San Francisco Display';
	src: url('font/SanFranciscoDisplay-Light.eot');
	src: url('font/SanFranciscoDisplay-Light.eot?#iefix') format('embedded-opentype'),
		url('font/SanFranciscoDisplay-Light.woff') format('woff'),
		url('font/SanFranciscoDisplay-Light.ttf') format('truetype'),
		url('font/SanFranciscoDisplay-Light.svg#font/SanFranciscoDisplay-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'San Francisco Display';
	src: url('font/SanFranciscoDisplay-Regular.eot');
	src: url('font/SanFranciscoDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('font/SanFranciscoDisplay-Regular.woff') format('woff'),
		url('font/SanFranciscoDisplay-Regular.ttf') format('truetype'),
		url('font/SanFranciscoDisplay-Regular.svg#font/SanFranciscoDisplay-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'San Francisco Display';
	src: url('font/SanFranciscoDisplay-Medium.eot');
	src: url('font/SanFranciscoDisplay-Medium.eot?#iefix') format('embedded-opentype'),
		url('font/SanFranciscoDisplay-Medium.woff') format('woff'),
		url('font/SanFranciscoDisplay-Medium.ttf') format('truetype'),
		url('font/SanFranciscoDisplay-Medium.svg#font/SanFranciscoDisplay-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'San Francisco Display';
	src: url('font/SanFranciscoDisplay-Semibold.eot');
	src: url('font/SanFranciscoDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
		url('font/SanFranciscoDisplay-Semibold.woff') format('woff'),
		url('font/SanFranciscoDisplay-Semibold.ttf') format('truetype'),
		url('font/SanFranciscoDisplay-Semibold.svg#font/SanFranciscoDisplay-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'San Francisco Display';
	src: url('font/SanFranciscoDisplay-Bold.eot');
	src: url('font/SanFranciscoDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('font/SanFranciscoDisplay-Bold.woff') format('woff'),
		url('font/SanFranciscoDisplay-Bold.ttf') format('truetype'),
		url('font/SanFranciscoDisplay-Bold.svg#font/SanFranciscoDisplay-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}